
html {
    font-size: var(--font-size-base);
    // &, * {
    //     @extend %reset;
    // }
}

body {
    font-size: var(--font-size-main);
    background-color: var(--color-bg);
    font-family: var(--font-family);
    line-height: var(--line-height);
    color: var(--color-text);
}
