zen-ui-button, button, .button, input[type='submit'] {
    @extend %comp-button;
}


.button-group {
    button, .button {
        margin-right: 1rem;
    }

    &.float-right {
        button, .button {
            margin-right: 0;
            margin-left: 1rem;
        }
    }
}
