.card {
    @extend %comp-card;

    &.hover {
        background-color: transparent;
        box-shadow: none;
        transition: all var(--transition-time);

        &:hover {
            background-color: var(--card-bg);
            box-shadow: var(--card-shadow);
        }
    }
}
