.i {
    --multiplier: 1;
    display: inline-block;
    width: calc(var(--size-main) * var(--multiplier));
    height: calc(var(--size-main) * var(--multiplier));
    vertical-align: middle;
    & use, & * {
        fill: var(--color-main);
    }

    @each $size in $sizes {
        &.#{$size} {
            width: calc(var(--size-#{$size}) * var(--multiplier));
            height: calc(var(--size-#{$size}) * var(--multiplier));
        }
    }

    @each $color in $colors {
        &.#{$color} use {
            fill: var(--color-#{$color});
        }
        &.#{$color} path {
            stroke: var(--color-#{$color});
        }
    }

    & + span {
        vertical-align: middle;
    }
}
