.hide { display: none !important; }
.round { border-radius: 50%; }
.rounded { border-radius: var(--border-radius); }
.no-select { user-select: none; }
.card {
    background-color: var(--card-bg);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
 }
