$types: "margin", "padding";

// Loop over margin and padding
@each $type in $types {

  // Loop over all sizes to create margin and padding variations
  @each $size in $sizes {
    // Use CSS var size
    $v: var(--size-#{$size});
    // Negative value
    $nv: calc(-1 * var(--size-#{$size}));


    // Main type + size (and negative)
    .#{$type}-#{$size} { @extend %#{$type}-#{$size}; }
    .n-#{$type}-#{$size} { @extend %n-#{$type}-#{$size}; }

    // Vertical & negative vertical
    .#{$type}-v-#{$size} { @extend %#{$type}-v-#{$size}; #{$type}-bottom: $v; }
    .n-#{$type}-v-#{$size} { @extend %n-#{$type}-v-#{$size}; #{$type}-bottom: $nv; }

    // Horizontal & negative horizontal
    .#{$type}-h-#{$size} { @extend %#{$type}-h-#{$size}; }
    .n-#{$type}-h-#{$size} { @extend %n-#{$type}-h-#{$size}; }

    // Top
    .#{$type}-t-#{$size} { @extend %#{$type}-t-#{$size}; }
    .n-#{$type}-t-#{$size} { @extend %n-#{$type}-t-#{$size}; }

    // Left
    .#{$type}-l-#{$size} { @extend %#{$type}-l-#{$size}; }
    .n-#{$type}-l-#{$size} { @extend %n-#{$type}-l-#{$size}; }

    // Bottom
    .#{$type}-b-#{$size} { @extend %#{$type}-b-#{$size}; }
    .n-#{$type}-b-#{$size} { @extend %n-#{$type}-b-#{$size}; }

    // Right
    .#{$type}-r-#{$size} { @extend %#{$type}-r-#{$size}; }
    .n-#{$type}-r-#{$size} { @extend %n-#{$type}-r-#{$size}; }
  }

  .#{$type}-none { @extend %#{$type}-none; }
  .#{$type}-t-none { @extend %#{$type}-t-none; }
  .#{$type}-l-none { @extend %#{$type}-l-none; }
  .#{$type}-b-none { @extend %#{$type}-b-none; }
  .#{$type}-r-none { @extend %#{$type}-r-none; }
}

// With and height sizes (eg: width-small, height-large)
@each $type in "width", "height" {
  @each $size in $sizes {
    .#{$type}-#{$size} {
      @extend %#{$type}-#{$size};
    }
  }
}

// With and height as percentages (eg: width-10, height: 70)
@for $i from 1 to 11 {
  .width-#{$i * 10} {
    @extend %width-#{$i * 10};
  }

  .height-#{$i * 10} {
    @extend %height-#{$i * 10};
  }
}

// Squares for each size (eg: size-large)
@each $size in $sizes {
  .size-#{$size} {
    @extend %size-#{$size};
  }
}
