.uppercase { text-transform: uppercase; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.align-middle { vertical-align: middle; }
.align-top { vertical-align: top; }
.align-bottom { vertical-align: bottom; }
.empty-hide:empty {
    display: none;
}
.weight-light {
    font-weight: 100;
}
.weight-normal {
    font-weight: 400;
}
.weight-heavy {
    font-weight: 700;
}
