$default-height: size('large');
$default-border-radius: size('tiny');
$default-padding: size('small');

$transition-time: 0.15s;

$input-height: $default-height;
$input-border-radius: $default-border-radius;
$input-padding: 0 $default-padding;

$button-height: $default-height;
$button-border-radius: $default-border-radius;
$button-padding: 0 $default-padding;
