%comp-button {
    display: inline-block;
    width: auto;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    border: none;
    height: default('btn-height');
    line-height: default('btn-height');
    padding: 0 default('btn-padding');
    border-radius: default('btn-border-radius');
    color: default('color-white');
    transition: all default('transition-time');
    user-select: none;
    background-color: default('btn-bg');
    background: default('btn-bg');
    font-family: default('font-family');
    cursor: pointer;
    font-size: default('font-size-main');
    text-align: center;


    &.hollow {
        background: transparent;
        color: default('color-main');
        padding-left: 0;
        padding-right: 0;
    }


    &:hover {
        filter: brightness(1.1);
    }

    &:focus {
        border: none;
        filter: brightness(0.9);
    }


    &.round {
        padding: 0;
        border-radius: 50%;
    }

    &.has-icon {
        padding-left: default('size-small');
        .i {
            vertical-align: top;
            margin-right: default('size-small');
        }
        .loader {
            margin-top: calc(default('size-small') / 2);
        }
    }

    &.no-text {
        padding: 0;
        .i {
            margin: 0;
        }
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none
    }

    & > span {
        display: inline-block;
        vertical-align: middle;
    }

    &.icon-right {
        position: relative;
        // display: block;
        .i:last-of-type {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    @each $size in $sizes {
        &.size-#{$size}, &[size=#{$size}] {
            width: auto;
            height: default('size-#{$size}');
            line-height: default('size-#{$size}');
            font-size: calc((1.6/4) * default('size-#{$size}'));
            padding: 0 calc(default('size-#{$size}') / 2);

            &.icon-right {
                padding-right: default('size-#{$size}');
            }
        }
    }
}
