%comp-loading {
    @keyframes loading-bounce {
        0% {
            transform: none;
            border-radius: 0;
        }
        10% {
            border-radius: 0;
        }
        20% {
            transform: translateY(calc(#{default('loading-size')} * 3.7 / 4)) rotate(45deg);
        }
        25% {
            transform: translateY(calc(#{default('loading-size')} * 3.8 / 4)) rotate(45deg);
            border-radius: 0;
            border-bottom-right-radius: calc(#{default('loading-size')} * 1 / 4);
        }
        40% {
            border-radius: 0;
            border-bottom-right-radius: calc(#{default('loading-size')} * 1 / 4);
        }
        50% {
            transform: translateY(0) rotate(90deg);
            border-radius: 50%;
        }
        70% {
            transform: translateY(calc(#{default('loading-size')} * 4.2 / 4)) rotate(360deg) scaleY(0.9) scaleX(1.1);
            ;
        }
        75% {
            transform: translateY(calc(#{default('loading-size')} * 4.3 / 4)) rotate(360deg) scaleY(0.9) scaleX(1.1);
            border-radius: 50%;
        }
        100% {
            transform: translateY(0) rotate(360deg);
        }
    }
    @keyframes loading-bounce-shadow {
        0%,
        50%,
        100% {
            transform: scale(0.9);
        }
        25%,
        75% {
            transform: scale(1);
        }
    }

    position: relative;
    display: block;
    height: #{default('loading-size')};
    width: #{default('loading-size')};

    &:before {
        content: '';
        background: default('loading-color');
        position: absolute;
        left: 50%;
        width: #{default('loading-size')};
        height: #{default('loading-size')};
        margin-left: calc(#{default('loading-size')} / -2);
        animation: loading-bounce infinite 1.5s ease-in-out;
    }

    &:after {
        content: '';
        position: absolute;
        background: default('loading-color');
        display: inline-block;
        width: calc(#{default('loading-size')} * 3 / 4);
        height: calc(#{default('loading-size')} * 1 / 4);
        ;
        left: 50%;
        margin-left: calc(#{default('loading-size')} * -1.5 / 4);
        top: calc(100% + (#{default('loading-size')} * 3 / 4));
        border-radius: 50%;
        animation: loading-bounce-shadow infinite 1.5s ease-in-out;
        opacity: 0.1;
    }
}


